<div>Application Form</div>
<!-- post to shorten the URL, getting our data from load_job_from_db in database.py -->
<form action="/job/{{job['id']}}/apply" method="POST">
    
    <div class="mb-2">
        <label>Full Name</label> <br>
        <input type="text" name="full_name" placeholder="Bobby Kataria">
    </div>
    <div class="mb-2">
        <label>Email</label> <br>
        <input type="text" name="email" placeholder="bobby@gmail.com">
    </div>

    <div class="mb-2">
        <label>Linkedin URL</label> <br>
        <input type="text" name="linkedin_url" placeholder="https://linked.com/in/BobbyKataria">
    </div>

    <div class="mb-2">
        <label>Education</label> <br>
        <textarea name="education"></textarea>
    </div>

    <div class="mb-2">
        <label>Work Experience</label> <br>
        <textarea name="experience"></textarea>
    </div>

    <div class="mb-2">
        <label>Resume URL</label> <br>
        <textarea name="resume_url"></textarea>
    </div>
    <input type="submit" name="Submit">
</form>
