<!DOCTYPE html>
<html>
    <head>
      {% include 'bootstrap.html' %}

    </head>
    <body>
        <!--header format-->
        {% include 'nav.html' %}
        {% include 'banner.html' %}
        <!--container is used to center the inputs-->
        <div class="container">
            <!--giving margin at top and bottom mt and mb-->
               <h1 class="text-center mt-4 mb-2">
                   <!--adding tags-->
                    Palash Solutions
               </h1>
 <!--as our values are stored in the form of integers in database, job is the object named in our app function show_job in render template-->      
        
                <h3 class="mb-2"> {{job['title']}} </h3>
                <p class="lead"> {{job['location']}} </p>
                <h4> Responsibility </h4>
                <!--to show in bullet points ul=unordered list,li=list item--->
                <ul>
                    {% for line in  job['responsibility'].split("\n") %}
                    <li> {{line}}</li>
                    {% endfor %}
                </ul>
                
                <h4> Requirement </h4>
                <ol> <!--ordered lists-->
                    
                        {% for line in  job['requirements'].split("\n") %}
                        <li> {{line}}</li>
                        {% endfor %}
                    
                </ol>
                
                <h4> Salary </h4>
                <p>{{job['currency']}} {{job['salary']}} </p>
                {% include 'application_form.html' %}
    </div>
        <div class="text-center col-12">
            <!--adding mail to send cv's source:mailto package mailtolink.me 18thjan-->
            <a href="mailto:palashaggarwal@gmail.com?subject=Queries%20for%20{{job['title']}}&body=Please%20tell%20your%20name%2Crole%20you%20are%20interested%20in%3A%0D%0A%0D%0A%0D%0A%0D%0APlease%20tell%20your%20queries" type="button" class="btn btn-outline-primary float-right align-middle " >Contact Us</a> 
        </div>
        {% include 'footer.html' %}

    </body>
</html>